---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Main from '../components/main.astro';
---

<Layout title="Landing page Mcdonalds | las mejores hamburguesas de la historia">
	<main>
		<Header/>
		<Main/>
	</main>
</Layout>
