---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Merriweather:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --bgred: #e00808;
    --white: #fff;
    --black: #000;
	--txt1: 'Inter', sans-serif;
	--txt2: 'Merriweather', serif;
  --txt3: 'Bree Serif', serif;

  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  html {
    font-family: 62.5%;
    background: var(--bgred);
    
  }
  .inactive{
    display: none;
  }
</style>
